subdir: Reconstruction/HighLevelObjectFinding/Jets
version: 00-02

dep: [GCC, CMake, ILCUTIL, LCIO, Marlin, FastJet, RAIDA]

path:
  lib: '{install}/lib'
  inc: '{install}/include'
  marlin: '{install}/lib/libMarlinFastJet.so'

source:
  url: https://svnsrv.desy.de/public/marlinreco/MarlinFastJet/tags/v{version}

build: [cmake, make, make_install]

install:
  download: svn
