subdir: Reconstruction/Digitization
version: 01-09

dep: [GCC, CMake, CLHEP, GSL, ROOT, ILCUTIL, Marlin, MarlinUtil, GEAR, LCIO, RAIDA]

path:
  lib: '{install}/lib'
  marlin: '{install}/lib/libMarlinReco.so'

source:
  url: https://svnsrv.desy.de/public/marlinreco/MarlinReco/tags/v{version}

cmake:
  var:
    MARLINRECO_FORTRAN: 'OFF'

build: [cmake, make, make_install]

install:
  download: svn
