subdir: Analysis/SubDetectorStudy/TPC
version: 00-16

dep: [GCC, CMake, GSL, ROOT, CLHEP, ILCUTIL, LCIO, GEAR, Marlin, LCCD, RAIDA, KalTest, KalDet, MokkaC, PathFinder, GBL]

path:
  bin: '{install}/bin'
  lib: '{install}/lib'
  inc: '{install}/include'
  marlin: '{install}/lib/libMarlinTPC.so'

source:
  url: https://svnsrv.desy.de/public/marlintpc/tags/v{version}

patch: MarlinTPC-00-16.patch

build: [cmake, make, make_install]

install:
  download: svn
