category: external
version: 4.9.4

dep: [Wget, GCCSys, Make]

path:
  bin: '{install}/bin'
  lib: '{install}/lib64'
  man: '{install}/share/man'

env:
  CC: '{install}/bin/gcc'
  CXX: '{install}/bin/g++'
  FC: '{install}/bin/gfortran'

source:
  url: http://ftp.gnu.org/gnu/gcc/gcc-{version}/gcc-{version}.tar.gz
  file: gcc-{version}.tar.gz
  main: gcc-{version}

configure:
  args: ['--enable-languages=c,c++,fortran', --disable-multilib]

make_install:
  args: install-strip

build: [configure, make, make_install]

clean: [build, source, download, log]

install:
  download: http
  pre_build:
    - command:
        cmd: ['contrib/download_prerequisites']
    - command:
        cmd: ['sed', '-i', 's/M4=m4-not-needed/M4=m4/', 'gmp/configure.in']
    - command:
        cmd: ['sed', '-i', 's/M4=m4-not-needed/M4=m4/', 'gmp/configure']
