category: external
version: 5.34.18

dep: [GCC, CMake, GSL, QT]

path:
  bin: '{install}/bin'
  lib: '{install}/lib'
  inc: '{install}/include'
  man: '{install}/man'
  python: '{install}/lib'

env:
  ROOTSYS: '{install}'

source:
  url: https://root.cern.ch/download/root_v{version}.source.tar.gz
  file: root_v{version}.source.tar.gz
  main: root

patch: root-5.34.18.patch

configure:
  ignore_install_prefix: true
  args:
    - --fail-on-missing
    - --enable-builtin-afterimage
    - --enable-builtin-ftgl
    - --enable-builtin-freetype
    - --enable-builtin-glew
    - --enable-builtin-pcre
    - --enable-builtin-zlib
    - --enable-builtin-lzma
    - --enable-explicitlink
    - --enable-soversion
    - --enable-roofit
    - --enable-minuit2
    - --enable-gdml
    - --enable-table
    - --enable-unuran
    - --enable-gsl-shared
    - --with-gsl-incdir={GSL_inc_dir}
    - --with-gsl-libdir={GSL_lib_dir}
    - --enable-qt
    - --with-qt-incdir={QT_inc_dir}
    - --with-qt-libdir={QT_lib_dir}
    - --enable-python

make_install:
  env:
    ROOTSYS: '{ROOT_root_dir}'

build: [configure, make, make_install]

install:
  download: http
